.heading1{
  color:blue;
  font-size:60px;
}
h2{
  color:red;
  font-size:60px;

}
.headingbg {
 background-color:aqua;
  font-size:80px;


}
.heading6{
  color:pink;
  font-size:40px;
}
#heading5{
  color:green;
  font-size:40px;
  background-color:yellow;
}

.heading4{
  color:black;
  font-size: 40;
  background-color:rgb(60, 0, 255);
}
#heading4{
  color:violet;
  font-size:40px;
}
